<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NexTripService Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NexTripService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libNexTripService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A37676E11841BC31004387F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A39516D6184D94B300C79FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A39516E3184D94B300C79FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3F37415184D8AB3008DD8E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3F37422184D8AB3008DD8E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
